*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: black;
	color: white;
	background-color: #20271f;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2362bb26' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Anton', sans-serif;

}

body 

a{
	color: #ffffff;
	text-decoration: none;
}

.container{
	width: 90%;
	margin: auto;
}

/* NAVEGACIÓN */

.nav-main{
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
}

.nav-logo{
	width: 60px;
	background: #ffffff; 
}

/* NAV LEFT */

.nav-main ul{
	display: flex;
	list-style: none;

}

.nav-main ul li{
	padding: 25px;
}

.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 20px;
}

.nav-main ul li a{
	padding: 2px;
}

.nav-menu li a:hover{
	opacity: 10;
	color: #35B006;
	border-bottom: 2px solid;
	z-index: 999;
}

.nav-menu a{
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.submenu{
	z-index: 999;
	background: rgba(53, 176, 6, 1);
}

.nav-main ul ul{
	display: none;
	position: absolute;
}

.nav-main ul li:hover ul{
	display: block;
}

.line{
	width: 90%;
	margin: auto;
}

/* SLIDER */

.container-slider{
	width: 90%;
	max-width: 900px;
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 0 0 0 4px #35B006;
	position: relative;
}

.slider-img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider{
	display: flex;
	width: 400%;
	height: 400px;
	margin-left: -100%;
}

.slider-section{
	width: 100%;
}

.slider-btn{
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}

.slider-btn-right{
	right: 10px;
	color: rgba(0, 0, 0, 1);
}

.slider-btn-left{
	left: 10px;
	color: rgba(0, 0, 0, 1);
}

.slider-btn:hover{
	background: #35B006;
}

/* PRODUCTOS */

.productos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 25px;
	margin: 25px 25px;	
}

.productos img{
	width: 100%;
	height: auto;
	box-shadow: 0 0 0 4px #35B006;
}

.productos h3{
	font-size: 35px;
	margin: 10px 0;
}

.productos p{
	font-size: 15px;
}

.productos a{
  	cursor: pointer;
  	display: inline-block;
  	border: 0;
    font-weight: bold;
  	padding: 10px 20px;
  	background: #262626;
  	color: #fff;
  	font-size: 25px;
  	box-shadow: 0 0 0 3px #35B006;
  	margin: 14px 0
}

.productos a:hover{
  	opacity: 10;
	color: #35B006;
	z-index: 999;
}

/* BANNER */

.banner-one{
	width: 90%;
	height: 350px;
	background: url('img/team.jpg');
	margin: 35px auto;
	box-shadow: 0 0 0 3px #35B006;
}

.content a{
  	cursor: pointer;
  	display: inline-block;
  	border: 0;
    font-weight: bold;
  	padding: 10px 20px;
  	background: #262626;
  	color: #fff;
  	font-size: 25px;
  	box-shadow: 0 0 0 3px #35B006;
  	margin: 10px 0;
 }

.content a:hover{
	opacity: 10;
	color: #35B006;
	z-index: 999;
}

.content h2:hover{
	opacity: 10;
	color: #35B006;
}

.content p:hover{
	opacity: 100;
	color: #35B006;
}

.banner-one .content{
	width: 40%;
	padding: 180px 0 0 30px;
}

/* BANNER TWO */

.banner-two{
	width: 90%;
	height: 350px;
	background: url('img/repuesto.jpg');
	margin: 35px auto;
	box-shadow: 0 0 0 3px #35B006;
}

.content2{
	color: black;
}

.content2 a{
  	cursor: pointer;
  	display: inline-block;
  	border: 0;
    font-weight: bold;
  	padding: 10px 20px;
  	background: #262626;
  	color: #fff;
  	font-size: 25px;
  	box-shadow: 0 0 0 3px #35B006;
  	margin: 10px 0;
 }

.content2 a:hover{
	opacity: 10;
	color: #35B006;
	z-index: 999;
}

.content2 h2:hover{
	opacity: 10;
	color: #35B006;
}

.content2 p:hover{
	opacity: 100;
	color: #35B006;
}

.banner-two .content2{
	width: 40%;
	padding: 180px 0 0 30px;
}

/* SOCIAL */

.social{
	margin: 0px;
}

.social p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	box-shadow: 0 0 0 3px #35B006;
	background: #35B006;
	font-weight: bold;

}

.link{
	display: flex;
	align-items: center;
	justify-content: center;
}

.link a{
	margin: 15px 30px;
}

.link a i{
	font-size: 3rem;
}

/* FOOTER */

footer{
	background: #35B006;
	font-size: 12px;
	padding: 35px 0;
}

.main-foot{
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 25px;
}

.left-box{
	width: 90%;
	margin: 35px auto;
}

.center-box{
	width: 90%;
}

.right-box{
	width: 90%;
}



/*.main-foot{
	display: flex;
}

.main-foot .box{
	flex-basis: 50%;
	padding: 10px 20px;

}

.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .contentinfo{
	margin: 20px 0 0 0;
}

.msg{
	margin-bottom: 10px;
}

.left-box{
	margin: auto 10px;
}*/